<!doctype html>
<html lang="en" data-theme="portfolio-light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:wght@700&family=JetBrains+Mono:wght@400;500&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="./index.css">
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffffff%22></rect><path fill=%22%23000000%22 d=%22M34.75 81.50L34.75 18.50L49.42 18.50Q57.06 18.50 60.58 22.05Q64.09 25.61 64.09 32.99L64.09 32.99L64.09 36.86Q64.09 46.67 57.61 49.28L57.61 49.28L57.61 49.46Q61.20 50.54 62.69 53.87Q64.17 57.20 64.17 62.78L64.17 62.78L64.17 73.85Q64.17 76.55 64.36 78.22Q64.53 79.88 65.25 81.50L65.25 81.50L55.17 81.50Q54.64 79.97 54.45 78.62Q54.28 77.27 54.28 73.76L54.28 73.76L54.28 62.24Q54.28 57.92 52.88 56.21Q51.48 54.50 48.06 54.50L48.06 54.50L44.65 54.50L44.65 81.50L34.75 81.50ZM44.65 45.50L48.25 45.50Q51.22 45.50 52.70 43.97Q54.19 42.44 54.19 38.84L54.19 38.84L54.19 33.98Q54.19 30.56 52.97 29.03Q51.76 27.50 49.15 27.50L49.15 27.50L44.65 27.50L44.65 45.50Z%22></path></svg>"
    >
    <script>
      (function () {
        var t = localStorage.getItem('theme');
        if (!t) {
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            t = 'portfolio-dark';
          }
        }
        if (t === 'portfolio-dark') {
          document.documentElement.setAttribute('data-theme', 'portfolio-dark');
        }
      })();
    </script>
  </head>
  <body class="bg-base-200 min-h-dvh relative overflow-x-hidden select-none">
    {{ content }}
  </body>
</html>
