<header class='w-full  mx-auto px-6 pt-4 pb-2 flex justify-between items-center z-10'>
  <div class='tooltip tooltip-start md:tooltip-right md:tooltip-center'>
    <div class='tooltip-content'>
      <div>Show menu</div>
    </div>
    <label
      for='nav-drawer'
      class='p-0 min-h-0 h-8 w-8 flex items-center justify-center cursor-pointer  transition'
      aria-label='Open Navigation'
    >
      <span class='hover:text-base-content text-neutral-content icon-[hugeicons--menu-two-line] h-6 w-6'></span>
    </label>
  </div>
</header>
